.form-group-inscricao {
    display: flex;
    flex-direction: column;
}

.form-group-inscricao label {
    text-wrap: nowrap;
}

.form-group-inscricao input {
    height: calc(1.5em + 1rem + 2px);
    width: 100% !important;
}

.form-group-inscricao div {
    width: 100%;
    max-width: 100%;
}